:root {
  --dark-color: #19283f;
  --green-color:#33d1cc;
  --section-color:#eff7fa;
  --blue-color:#0d6efd;
}
body {
  font-family: "Roboto", sans-serif;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
/* 5edma ta3y */
  #azer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* semi-transparent black background */
    color: white;
    z-index: 1000; /* Ensure it's above other elements on the page */
    padding: 20px;
    box-sizing: border-box;;
  }
  #azer form {
    /* You can further style the form inside the floating overlay */
  }
.navbar-brand {
  background-color: #018dbe;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0px 20px;
  border-radius: 20px;
  font-family: "Pacifico", cursive;
}
.navbar-brand:hover {
  color: #ffffff;
}
/* 5edma ta3y */

.main-btn{
  padding: 0.5rem 1rem;
}
.main-title::after{
  content: '';
  width: 120px;
  height: 2px;
  background-color: var(--green-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
/* Start Navbar */
.navbar {
  background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link{
  color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
  color: var(--green-color);
}
.navbar .search{ 
  border-left: 1px solid var(--green-color);
}
.navbar .search svg{
  color: var(--green-color);
}
.navbar .navbar-toggler{
  color: white;
  font-size: 25px;
  border-color: white;
}
.navbar .navbar-toggler:focus{
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"]{
  border-color: #33d1cc;
}
/* end Navbar */
/* start landing */
.landing{
  background-color: var(--dark-color);
  min-height: calc(100vh - 72px );
}
/* end landing */
/* start features */
.features .icon-holder{
  height: 200px;
}
.features .icon-holder svg{
  left: 50%;
  transform: translateX(-50%);
}
.features .icon-holder .number{
  color: var(--section-color);
  font-size: 12rem;
}
.features .icon-holder .icon{
  color: var(--green-color);
}
.features  .feat h4{
  color:deepskyblue;
}
/* end features */
/* start our work  */
.our-work{
  background-color: var(--section-color);
}
.our-work ul .active{
  background-color: var(--blue-color);
  color : white;
}
.our-work ul li{
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 2rem;
}
.our-work ul li:not(.active):hover{ 
  color: var(--blue-color);
}
.our-work .box{
  padding: 5px;
  overflow: hidden;
  position: relative;
}
.our-work .box::before{
  content: attr(data-work);
  position: absolute;
  background-color: rgb(51 209 204 / 75%);
  width: calc(100% - 10px);
  height:  calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  transition: 0.3s;
  font-size: 1.5rem;
  transform: translatey(calc(-100% - 5px));
}
.our-work .box:hover::before{
  transform: translateX(0);
}
/* end our work  */
/* start stuff */
.stuff {
background-color: gainsboro;
}
.stuff .description{
  max-width: 500px;
}
/* end stuff */
/* start team */
.team{
  background-color: var(--section-color);
}
.team .row h4{
  padding: 20px;
  color: white; 
  background-color: #33d1cc;
}
/* end team */
/* start projtct */
.project{
  background-color: var(--dark-color);
}
/* end projtct */
/* start Subscribe */
.subscribe{
  background-color: rgb(28, 214, 205);
}
.subscribe input[type="text"]{
   border: none;
  border-bottom: 1px solid white; 
} 
.subscribe input[type="text"]:focus{
  outline: none;
}
.subscribe ::placeholder{
  color: white;
}
.subscribe input[type="submit"]{
  background-color: var(--blue-color);
  color:white;
} 
/* end Subscribe */
/* start footer  */
.footer {
  background-color: var(--dark-color);
}
.footer .copyright >span{
  color: var(--green-color);
}
.footer .copyright div span{
  color: var(--green-color);
}
.footer .contact ul svg{
    width: 20px;
    height: 20px;
}
.footer .facebook {
  background-color: #1877f2;
}
.footer .twitter {
  background-color: #1da1f2;
}
.footer .linkedin {
  background-color: #0077b5;
}
.footer .youtube {
  background-color: #ff0000;
}
/* end footer  */
